<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Selling Details Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900">

    <%- include('navbar', { user: user }) -%>

        <div class="flex justify-center items-center py-2">
            <img src="/uploads/<%= car.image %>" alt="<%= car.carName %>" style="height: 500px;" />
        </div>

        <div class="flow-root rounded-lg border border-gray-100 py-4 shadow-sm py-2 container mx-auto py-10">
            <dl class="-my-3 divide-y divide-gray-100 text-sm">
                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Car Name</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.carName %>
                    </dd>
                </div>

                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Model</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.model %>
                    </dd>
                </div>

                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Price</dt>
                    <dd class="text-white sm:col-span-2">$<%= car.price.toLocaleString() %>
                    </dd>
                </div>
                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Description</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.description %>
                    </dd>
                </div>
                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Created At</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= new Date(car.createdAt).toLocaleDateString() %>
                    </dd>
                </div>
                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Availability</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.availability %>
                    </dd>
                </div>
                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Color</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.color %>
                    </dd>
                </div>

                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Mileage</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.mileage %> miles
                    </dd>
                </div>

                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Transmission</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.transmission %>
                    </dd>
                </div>

                <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-white">Fuel Type</dt>
                    <dd class="text-white sm:col-span-2">
                        <%= car.fuelType %>
                    </dd>
                </div>
            </dl>
        </div>

</body>

</html>